<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <img style="width:145px" class="responsive-img" src="images/hackathon.jpg" />
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <img style="width:145px" class="responsive-img" src="images/starwars.jpg" />
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <img style="width:145px" class="responsive-img" src="images/joynt.jpg" />
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <img style="width:145px" class="responsive-img" src="images/racys.jpg" />
    </div>
    <div class="col-md-12 col-xs-12">
      <br/>
      <br />
    </div>
    <div class="col-md-12 col-xs-12">
        <h4>Bio</h4>
        <hr>
        <p>Originally from Green Bay I'm a Software Developer, and graduate of the University of Wisconsin – Eau Claire.
          I previously worked with the technology services department at the University of Wisconsin – Eau Claire, designing and maintaining web applications for departments across the university.
          I used the Ruby on Rails web framework and custom built software for clients across campus.
          I graduated December 2015 and have since moved to the Minneapolis/St. Paul metro to work with a local company in their technology department.
          I've spent a large amount of time designing reliable systems with redundant backup and failover plans. While creating 12 factor applications built ontop of cloud based technologies in micro service design patterns.</p>
    </div>
    <div class="col-md-12  col-xs-12">
        <p>I'm interested in finding ways to make myself a better, faster, and more effective programmer.
          I am active in meetings with local developer/programmer groups in the area, hoping to learn about new technology and new techniques.
          I also spend time researching new technology and implementing this technology in side projects by myself.
        </p>

        <p>Currently I'm very interested in learning algorithms, distributed systems, meta coding practices, and cloud technology.
          I would like to continue my education at a University in Minneapolis and work towards a better understanding of electrical engineering and advanced mathematics.
        </p>

    </div>
</div>
