<div class="row">
  <div class="col-md12">
    <h2>Welcome!</h2>
  </div>
  <hr>
  <div class="col-md-5">
    <p>
      <img class="img-responsive" src="images/profile.jpg">
    </p>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <h4>Who am I?</h4>
    <p>
      My name is John, I am a software engineer in the Minneapolis/St. Paul metro area. I work as a fullstack web application developer, creating clean, flexible, scalable, and maintainable software solutions for clients.
    </p>
    <h4>What can you find here?</h4>
    <p>
      This is my personal site. You can find my resume, favorite resources, tools, and my blog. Along with contact information and general information  about me.
    </p>
    <h4>What can I do for you?</h4>
    <p>I try to be active in the technology community, I attend tech conferences, hackathons, and speaking events. I have a large list of resources for aspiring web developers and encourage other developers to better themselves.</p>
  </div>
  <div class="col-md-12">
  </div>
</div>
